$theme-colors: (
    "primary": rgba(37,47,63),
    "secondary": #76a9fa
);

$body-bg: rgba(37,47,63);
$body-color: white;
@import "~bootstrap/scss/bootstrap";

// html {
//   background-color: rgba(37,47,63);
// }

// .App {
//   background-color: $background-primary;
// }

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

